@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #070b14;
  --foreground: #e2e8f0;
}

body {
  color: var(--foreground);
  background: var(--background);
}

* {
  border-color: rgb(30 41 59);
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 999px;
}
